<!DOCTYPE html>
<html>
<head>
	<title>Purrfect Match</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<meta name="viewport" content="width=device-width">
	<style type="text/css">

		#content {
			text-align: center;
			padding: 25%;
		}
		body {
			background:url(https://images.unsplash.com/photo-1526602331343-f1bd8569476a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d69d6f3fbc5441b64761376e1a46ec58&auto=format&fit=crop&w=2849&q=80);
			background-size: cover;
		} 
		h1 {
			color:#FF851B;
			font-size: 50px;
			font-family:Indie Flower; 
		}
		h3 {
			color:#e6e8fa;
			font-size: 45px;
			font-family: Permanent Marker;
		}
	</style>
</head>
<body>
	<div class="container">
		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xsm-12">
				<div id="content">
				<h1>Wishing You  </h1>
				<h1>Many More Happy Return's Of The DAy</h1>
				<h3>Praneetha.Seethipalli</h3>
				<hr>
				<button class="btn btn-default btn-lg"><a href="bdday.html">Let's Start</a></button>
				</div>
				
			</div>
		</div>
	</div>

<script src=“https://code.jquery.com/jquery-2.1.4.js”></script>
<script src=“https://maxcdn.bootstrapcdn.com/bootstrap/3/3/5/js/bootstrap.min.js”></script>
</body>
</html>